body {
    background: linear-gradient(to bottom, #f1fffd, #b9cfe0a6);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.airplane {
    width: 100px;
    height: 60px;
}

.airplane.animate-plane {
    background-image: url('imgs/aviao.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -100px;
    animation: movePlane 10s linear infinite;
}

@keyframes movePlane {
    0% {
        left: -100px;
    }
    100% {
        left: 92%;
    }
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.cornav {
    background-color: #1c166800;
}